
	@media only screen and (max-width: 600px) {
   /* body {
        background-color: lightblue;
    }*/
    #oo{
    	display: none;
    }
    #bar
    {
    	width: 500px;
    }
   }
@media only screen and (min-width: 600px) {
   /* body {
        background-color: lightblue;
    }*/
    #ooo{
    	display: none;

    }
     #userlog
    {
    	padding-top: 150px;
    }

   
}